<h2> Create an Article </h2>
<% if @article.errors.any? %>
<h2>Following errors are preventing the errors from being created</h2>
<ul>
<% @article.errors.full_messages.each do |msg| %>
<li>
<%= msg %>
</li>
<% end %>
</ul>
<% end %>

<%= form_for @article do  |f| %>
<p>
	<%= f.label :TITLE %> <br/>
	<%= f.text_field :TITLE %>
</p>


 <p>
	<%= f.label :DESCRIPTION %>  <br/>
	<%= f.text_area :DESCRIPTION %>
</p>

<p>
	<%= f.submit  %>
</p> 

<% end %>


